$font-family: "Helvetica", sans-serif;

$font-size-xxs: 10pt;
$font-size-xs: 12pt;
$font-size-s: 14pt;
$font-size-m: 16pt;
$font-size-l: 18pt;
$font-size-xl: 24pt;
$font-size-xxl: 46pt;

html {
  font-family: $font-family;
  font-size: $font-size-s;
}

h1 {
  font-family: $font-family;
  font-size: $font-size-xl;
  font-weight: bold;
}

h2 {
  font-family: $font-family;
  font-size: $font-size-l;
  font-weight: bold;
}

h3 {
  font-family: $font-family;
  font-size: $font-size-m;
  font-weight: bold;
}

p {
  font-family: $font-family;
  font-size: $font-size-s;
}
