@import "../../styles/common.scss";

.bookstores {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $padding-l;

  h1 {
    margin-bottom: $padding-l;
  }

  select {
    margin-bottom: $padding-l;
  }
}
